# =========================
# ENTORNOS VIRTUALES
# =========================
venv/
.venv/
venv312/

# =========================
# VARIABLES DE ENTORNO
# =========================
.env
.env.*

# =========================
# PYTHON
# =========================
__pycache__/
*.pyc
*.pyo

# =========================
# DJANGO
# =========================
db.sqlite3
*.sqlite3
backup_db_*.sqlite3
media/
staticfiles/

# =========================
# ARCHIVOS GENERADOS / PRUEBA
# =========================
*.pdf
*.json

# =========================
# SISTEMA OPERATIVO
# =========================
.DS_Store
