asgiref==3.11.0
brotli==1.2.0
cffi==2.0.0
charset-normalizer==3.4.4
cssselect2==0.8.0
dj-database-url==3.1.0
Django==4.2.27
et_xmlfile==2.0.0
fonttools==4.61.1
gunicorn==23.0.0
openpyxl==3.1.5
packaging==25.0
pillow==12.1.0
pycparser==2.23
pydyf==0.12.1
pyphen==0.17.2
python-dotenv==1.2.1
reportlab==4.4.7
sqlparse==0.5.5
tinycss2==1.5.1
tinyhtml5==2.0.0
weasyprint==67.0
webencodings==0.5.1
zopfli==0.4.0
