Django==5.2.10

gunicorn
whitenoise==6.11.0

# PostgreSQL (OBLIGATORIO)
psycopg[binary]
dj-database-url

# Utilidades base
asgiref==3.11.0
sqlparse==0.5.5
charset-normalizer==3.4.4
six==1.17.0
packaging==26.0

# Imágenes / archivos
pillow==12.1.0
openpyxl==3.1.5
et_xmlfile==2.0.0

# PDF / reportes
reportlab==4.4.7
weasyprint==67.0
fonttools==4.61.1
tinycss2==1.5.1
tinyhtml5==2.0.0
cssselect2==0.8.0
pyphen==0.17.2
pydyf==0.12.1
brotli==1.2.0
zopfli==0.4.0
webencodings==0.5.1

# Dependencias internas
cffi==2.0.0
pycparser==2.23
python-dateutil==2.9.0.post0
asn1crypto==1.5.1
scramp==1.4.8
