{% extends "base.html" %}

{% block content %}
<h4 class="fw-bold mb-4" style="color:#002855;">
    Agregar empleado
</h4>

<div class="card-clean" style="max-width:500px;">
    <form method="post">
        {% csrf_token %}

        <div class="mb-3">
            <label class="fw-bold">Nombre</label>
            {{ form.nombre }}
        </div>

        <div class="form-check mb-3">
            {{ form.activo }}
            <label class="form-check-label">
                Empleado activo
            </label>
        </div>

        <div class="mt-3">
            <button type="submit" class="btn btn-primary">
                Guardar
            </button>
            <a href="{% url 'asistencia:lista' %}" class="btn btn-outline-secondary">
                Cancelar
            </a>
        </div>
    </form>
</div>
{% endblock %}
