{% extends "base.html" %}

{% block content %}
<h4 class="fw-bold mb-4" style="color:#002855;">
    Asistencia
</h4>

<!-- BOTÓN AGREGAR EMPLEADO -->
<div class="mb-3">
    <a href="{% url 'asistencia:crear_empleado' %}" class="btn btn-primary">
        + Agregar empleado
    </a>
</div>

<div class="card-clean">
    <ul class="list-group">
        {% for e in empleados %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            {{ e.nombre }}
            <a href="{% url 'asistencia:calendario_empleado' e.id %}"
               class="btn btn-outline-primary btn-sm">
                Ver calendario
            </a>
        </li>
        {% empty %}
        <li class="list-group-item text-muted">
            No hay empleados cargados
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
